
manifest {
    name                                  = 'Genofinder'
    version                               = '0.1.o'
    description                           = 'A nextflow pipeline to extract SNPs, regions from imputed genotypes.'
    author                                = 'Lukas Forer and Sebastian Schönherr'
    homePage                              = 'https://github.com/lukfor/genofinder'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    //Required inputs
    project                               = null
    genotypes_imputed                     = null
    genotypes_build                       = null
    genotypes_imputed_format              = null
    queries                               = null
    outdir                                = null
}

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

    development {
        process.container                 = 'lukfor/genofinder:latest'
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
    }

   test {
        includeConfig 'conf/test.config'
   }

}
